.container{
text-align: right;
width: 100% ;
}
image{
    max-width: 100%;
    height: auto;
    float: right;
} 
@media screen and (max-width: 480px){  
    .container{
        text-align: center;
    }.
}